name: Deploy notes-api

on:
  push:
    branches:
      - main

jobs:
  serverless-deployment:
    name: serverless deployment
    runs-on: ubuntu-latest
    environment:
      name: serverless-deplyment
      url: https://test.com
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - name: Install Plugin and Deploy
      uses: serverless/github-action@v3
      with:
        args: -c "serverless plugin install --name serverless-iam-roles-per-function && serverless deploy"
        entrypoint: /bin/sh
      env:
        AWS_ACCESS_KEY_ID: AKIA5MHOIQ7EEZYVBUVU
        AWS_SECRET_ACCESS_KEY: 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
        
        
#         AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#         AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        
        
        
